:root {
  --bezh-1: #fef7ec;
  --blau-1: #ebeff5;
  --blau-2: #7c8aa5;
  --blau-3: #ebf2f9;
  --blau-4: #b2b5ba;
  --grey: #b2b5ba;

  --green-1: #dff0c2;
  --green-3: #eaf8d3;
  --bezh-2: #fff2d8;
  --bezh-3: #ffe4bc;
  --blau-5: #dbeef9;
  --green-2: #8fb339;
  --black: #333333;
  --white: #ffffff;
}
